@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  box-sizing: border-box;
}

.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  padding-top: 190px;
  height: 440px;
  width: 300px;
  padding: 20px;
  font-size: 80px;
  padding-top: 180px;

  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  padding-top: ;
}
.card::before {
  font-size: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.card::after {
  font-size: 60px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.spade::before {
  content: "\2660";
}
.spade::after {
  content: "\2660";
}
.club::before {
  content: "\2663";
}
.club::after {
  content: "\2663";
}
.heart::before {
  content: "\2665";
}
.heart::after {
  content: "\2665";
}
.diamond::before {
  content: "\2666";
}
.diamond::after {
  content: "\2666";
}

.heart {
  color: red;
}
